.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.breadcrumb-item a {
    color: #7d1128;
}

.contact--feedback-button,
.detail--comment-button,
.header--login-button,
.signup--button {
    color: #fff;
    background-color: #7d1128;
    border: 1px solid transparent;
}

.contact--feedback-button:hover {
    background-color: #63081c;
    border: 1px solid transparent;
}

.detail--comment-modal-button {
    margin-right: auto;
}

.footer {
    background-color: #c41e3d;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: #fff;
}

.header--div {
    position: absolute;
    background-color: pink;
    color: aqua;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #c41e3d;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #fff;
}

.footer--list-item,
.footer--email,
.fa-envelope-o {
    color: #fff;
}

.footer--list-item:hover,
.footer--email:hover,
.fa-envelope-o:hover {
    color: rgb(184, 184, 184);
}

.navbar-dark {
    background-color: #7d1128;
}

.header--image {
    margin-left: 10px;
    height: 47px;
    width: 46px;
}

.home--image {
    aspect-ratio: 1 / 1;
}

.home--card-body {
    color: black;
}

.about--table-head {
    background-color: #7d1128;
}

.about--image--container {
    width: 105px;
    height: 105px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.about--image {
    width: 105px;
    height: auto;
}

.contact--address {
    color: #000;
}

.favorite--image {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.menu--dish-name {
    background-color: #7d1128;
    color: rgb(190, 190, 190);
    padding-left: 5px;
    padding-block: 12px;
    margin: 0;
}

.menu--card:hover .menu--dish-name {
    color: #fff;
}

.menu--card:hover .menu--link {
    text-decoration: underline #fff;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}
